{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SafeJourney</title>
	<link rel="icon" href="static/images/logo.png" type="image/icon type">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% tailwind_css %}
	<!-- Include Tailwind CSS stylesheets -->
	<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
	<!-- Your custom styles -->
	<style>
		.navbar {
		transition: background-color 0.3s ease;
		}
	
		.file-input {
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
		}
		
		.custom-file-input {
		border-radius: 4px;
		}
	</style>
	</head>
	<body class="bg-cover bg-center bg-fixed bg-no-repeat" style="background-image: url('static/images/home_slider.jpg');">
		<!-- Sticky Navbar -->
		<nav class="navbar fixed top-0 left-0 w-full p-4 bg-gray-700 bg-opacity-50 z-10">
			<div class="container mx-auto flex justify-between items-center">
				<div class="flex items-center">
					<img src="static/images/logo2.svg" class="h-14 w-100 mr-3" alt="Safe Journey Logo" />
					<div class="text-white text-lg font-bold">SafeJourney</div>
				</div>
				<div class="flex items-center space-x-4">
					<a href="#" class="text-white">Home</a>

					{% if user.is_authenticated %}
					<a href="#" class="text-white">Hello, {{ user.first_name }}</a>
					<a href="accounts/logout" class="text-white">Logout</a>
					{% else %}
					<a href="accounts/register" class="text-white">Register</a>
					<a href="accounts/login" class="text-white">Login</a>
					{% endif %}
					<a href="#blogs" class="text-white">Blogs</a>
					<a href="#tips" class="text-white">Tips</a>
					<a href="#contact" class="text-white">Contact Us</a>
				</div>
			</div>
		</nav>

		{% block content %} {% endblock content %}

	</body>
</html>